.committed {
  background-color: grey;
}

.logs-holder {
  overflow: hidden;
  width: 200px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, tr {
  border: 1px solid grey;
}

td {
  width: 60px;
}

.table-data {
  width: 25px;
  height: 25px;
  float: left;
  padding-left: 5px;
}

.table-term {
  text-align: center;
  font-size: 20px;
}

.animation {
    background-color: #FFFFF0;
    float: left;
}

.timer-top {
    fill: #3a34e5;
}

.client {
    fill: green;
}

.replica {
    fill: #007bff;
}

.candidate {
    opacity: 0.5;
}

.follower {
    opacity: 0.2;
}
