td {
    border-radius: 2px;
    width: 30px;
    height: 30px;
}

.table-data {
  background-color: black;
  width: 30px;
  height: 30px;
}

.animation {
    background-color: #FFFFF0;
    float: left;
}

.logs {
    border-radius: 5px;
    border: 1px solid grey;
}

.timer-top {
    fill: #3a34e5;
}

.client {
    fill: green;
}

.replica {
    fill: #007bff;
}

.candidate {
    opacity: 0.5;
}

.follower {
    opacity: 0.2;
}
